.button {
  display: block;
  box-sizing: border-box;
  font-family: $font-family-main;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  &--round {
    border: 3px solid;
    border-radius: 30px;
  }

  &--square {
    padding-top: 15px;
    padding-bottom: 14px;
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
