.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $pink-color;

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: $dark-blue-color;
  }

  &:active .copyright__image {
    fill: $dark-blue-color;
    opacity: 0.3;
  }
}

.copyright__image {
  margin-left: 15px;
  widht: 27px;
  height: 34px;
  fill: currentColor;
  pointer-events: none;
}

.copyright__text {
  color: $font-color-main;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 10px;
    width: 155px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-top: 0;
  }

  .copyright__text {
    font-size: 18px;
  }
}
