.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.copyright__image {
  margin-left: 15px;
  widht: 27px;
  height: 34px;
}

.copyright__text {
  color: $font-color-main;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 10px;
    width: 155px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
