.feedback-slider {
  @include list-style-reset;
}

.feedback-slider__author {
  color: $black-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.feedback-slider__text {
  line-height: 30px;
}
