.page-title {
  padding-top: 27px;
  padding-bottom: 85px;
  width: 230px;
  color: $white-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-title {
    padding-top: 70px;
    padding-bottom: 141px;
    width: 350px;
    font-size: 50px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 50px;
    padding-top: 64px;
    padding-bottom: 101px;
  }
}
