.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.page-footer--index-page {
  display: none;
}

.page-footer__logo {
  display: block;
  margin-bottom: 34px;
  width: 147px;
  height: 40px;

  &[href]:hover,
  &[href]:focus {
    path {
      fill: $pink-color;
    }
  }

  &[href]:active {
    path {
      opacity: 0.3;
    }
  }
}

.page-footer__logo-image--mobile {
  display: block;
}

.page-footer__logo-image--desktop {
  display: none;
}

.page-footer__list {
  margin-bottom: 39px;
}

.page-footer__copyright {
  outline: 2px solid green;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .page-footer--index-page {
    display: flex;
  }

  .page-footer__logo {
    margin-bottom: 34px;
  }

  .page-footer__list {
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
  }

  .page-footer__logo-image--mobile {
    display: none;
  }

  .page-footer__logo-image--desktop {
    display: block;
  }
}
