.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.page-footer--index-page {
  display: none;
}

.page-footer__logo {
  align-self: flex-start;
  display: block;
  margin-bottom: 34px;
  width: 147px;
  height: 40px;
  color: $dark-blue-color;

  &[href]:hover,
  &[href]:focus {
    color: $pink-color;
  }

  &[href]:active {
    color: $dark-blue-color;
    opacity: 0.3;
  }
}

.page-footer__logo-image {
  fill: currentColor;
}

.page-footer__logo-image--mobile {
  display: block;
}

.page-footer__logo-image--desktop {
  display: none;
}

.page-footer__list {
  margin-bottom: 39px;
}

.page-footer__copyright {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 32px;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .page-footer--index-page {
    display: flex;
  }

  .page-footer__logo {
    margin-bottom: 34px;
  }

  .page-footer__list {
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    padding-top: 70px;
  }

  .page-footer__logo-image--mobile {
    display: none;
  }

  .page-footer__logo-image--desktop {
    display: block;
  }
}
