.page-title {
  margin: 0 auto;
  width: 230px;
  color: $white-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-title {
    width: 350px;
    font-size: 50px;
    line-height: normal;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 50px;
  }
}
