.page-main__features {
  margin-top: 38px;
}

.page-main__user-photo {
  //временно
  margin-bottom: 972px;
}

@media (min-width: $tablet-width) {
  .page-main__features {
    margin-top: 47px;
  }

  .page-main__user-photo {
    //временно
    margin-bottom: 715px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__features {
    margin-top: 67px;
  }

  .page-main__user-photo {
    //временно
    margin-bottom: 741px;
  }
}
