.page-main__features {
  margin-top: 38px;
}

.page-main__contest-form {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__features {
    margin-top: 47px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__features {
    margin-top: 67px;
  }
}
