.user-post {
  background-color: $lightgray-color-bg;
  line-height: 24px;
}

.user-post__author {
  font-size: 14px;
  font-weight: 700;
}

.user-post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-post__text {
  font-size: 14px;
  font-weight: 400;
}

.user-post__like {
  color: $pink-color;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
