.user-post {
  line-height: 24px;
  background-color: $lightgray-color-bg;

  &--panorama {
    background-color: $white-color;
  }
}

.user-post__picture {
  margin: 0;
  line-height: 0;
  font-size: 0;
}

.user-post__picture:not(.user-post__picture--panorama) {
  width: 280px;
  height: 180px;
}

.user-post__picture--panorama {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 320px;

  &::before {
    position: absolute;
    padding-top: 6px;
    top: 0;
    right: 6%;
    content: "панорама дня";
    width: 140px;
    height: 36px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: $white-color;
    background-color: $pink-color;
    text-align: center;
    box-sizing: border-box;
  }
}

.user-post__image {
  width: 100%;
  height: auto;

  &--panorama {
    width: 320px;
    height: 137px;
  }
}

.user-post__wrapper-panorama {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.user-post__content {
  padding-top: 18px;
  width: 232px;
  padding-left: 17px;
}

.user-post__content-panorama {
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: $lightgray-color-bg;
}

.user-post__author {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
}

.user-post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-post__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}

.user-post__like-wrapper {
  display: flex;
}

.user-post__like-icon {
  margin-right: 15px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 700;
  vertical-align: bottom;
  text-decoration: none;
  color: $pink-color;
}

.user-post__like {
  margin: 0;
  padding-bottom: 19px;
  color: $pink-color;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .user-post__picture:not(.user-post__picture--panorama) {
    width: 300px;
    height: 300px;
  }

  .user-post__picture--panorama {
    max-width: 700px;

    &::before {
      top: 11%;
      right: 3%;
    }
  }

  .user-post__image--panorama {
    width: 700px;
    height: 509px;
  }

  .user-post__wrapper-panorama {
    padding-left: 20px;
    padding-right: 20px;
    width: 620px;
  }

  .user-post__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: auto;
    padding-top: 25px;
    padding-left: 25px;
  }

  .user-post__content-panorama {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-post__text {
    margin-bottom: 11px;
    width: 232px;
    min-height: 48px;

    &--panorama {
      margin-bottom: 21px;
      width: 510px;
      order: 1;
    }
  }

  .user-post__like-wrapper {
    margin-top: auto;
    justify-content: space-between;

    &--panorama {
      margin-bottom: 0;
    }
  }

  .user-post__like-wrapper:not(.user-post__like-wrapper--panorama) {
    margin-bottom: 21px;
  }

  .user-post__like-icon {
    order: 1;
    margin-right: 32px;

    &--panorama {
      margin-right: 29px;
      margin-left: 17px;
    }
  }

  .user-post__like {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-post__picture:not(.user-post__picture--panorama) {
    width: 300px;
    height: 400px;
  }

  .user-post__picture--panorama {
    max-width: 1200px;

    &::before {
      top: 10%;
      right: 11%;
    }
  }

  .user-post__image--panorama {
    width: 1200px;
    height: 506px;
  }

  .user-post__wrapper-panorama {
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
  }

  .user-post__content {
    padding-top: 22px;
  }

  .user-post__text--panorama {
    width: 863px;
    margin-bottom: 0;
  }
}
