$black-color: #000000;
$white-color: #ffffff;
$pink-color: #d22856;
$dark-blue-color: #283645;
$gray-color-border: #e5e5e5;
$lightgray-color-bg: #f2f2f2;
$light-green-color: #2aab6d;
$dark-green-color: #1c9b5e;

$font-family-main: "Open Sans", "Arial", sans-serif;
$font-size-main: 14px;
$font-weight-main: 400;
$line-height-main: 24px;
$font-color-main: $dark-blue-color;
$background-color-main: $white-color;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-tablet-width: 959px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
